html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
*display: inline;
*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
display: none;
}
aside {
	width: 213px;
	height: auto;
	float: left;
	margin: 0 0 25px 0;
	border: 1px solid #e8e8e8;
	border-top: none;
}
article {
	width: 690px;
	height: auto; /*min-height:344px;*/
	float: left;
}
section {
	height: auto;
}
details {
	width: 285px;
	height: 50px;
	margin-top: 10px;
}
a {
color:;
	outline: none;
}
a:visited {
color:;
	outline: none;
}
a:hover {
color:;
	outline: none;
}
a:focus {
	outline: none;
}
/* Improve readability when focused and hovered in all browsers:
065. h5bp.com/h */
a:hover, a:active {
	outline: 0;
}
a.selected { /*color: #3a5500; text-shadow:1px 1px 0px #e1eeb0;*/
}
/* =============================================================================
Typography
========================================================================== */


 

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/* =============================================================================
   Lists
   ========================================================================== */
 
ul, ol {
	margin: 0;
	padding: 0 0 0 0;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.231;
	background: #fff;
	color: #333;
}
.clear {
	clear: both;
}
/*===================css start============================*/

@font-face
{
    font-family: chalkBoard;
    src: url(chalkboard-bold.ttf);
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../font/helvetica-neue-lt-com-45-light.eot');
    src: url('../font/helvetica-neue-lt-com-45-light.eot') format('embedded-opentype'),
         url('../font/helvetica-neue-lt-com-45-light.woff') format('woff'),
         url('../font/helvetica-neue-lt-com-45-light.ttf') format('truetype'),
         url('../font/helvetica-neue-lt-com-45-light.svg#HelveticaNeueLTCom45Light') format('svg');
}

.main-wrapper {
	width: 480px;
	min-height: 777px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.btn-holder {
	left: 155px;
	position: absolute;
	top: 149px;
}
.ios-btn {
	-webkit-appearance: none;
/*        border-radius: 25px;
        -webkit-border-radius: 25px;*/
        -webkit-box-sizing: border-box; /* Android â‰¤ 2.3, iOS â‰¤ 4 */
        -moz-box-sizing: border-box; /* Firefox 1+ */
        box-sizing: border-box;
}
header{
/*    left: 50px;*/
    position: absolute;
    top: 20px;
    width: 466px;
}
.user-name{
    height: 85px;
    left: 78px;
    position: absolute;
    text-align: center;
    color: rgb(32,114,255);
    top: 10px;
    width: 445px;  
    font-family: HelveticaNeue-Light;
    font-size: 37px;
}
.main-btn-in {
	font-family: HelveticaNeue-Light;
	background-color: #92D933;
	border: medium solid;
	color: #FFFFFF;
	display: block;
	font-size: 45px;
	padding: 10px 23px;
	width: 285px;
/*	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;*/
}
.main-btn-out {
	background-color: #505050;
	border: medium solid;
	color: #FFFFFF;
	display: block;
	font-family: HelveticaNeue-Light;
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 120px;
	margin-top: 15px;
	padding: 10px 23px;
	width: 285px;
/*	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;*/
}
.ios-btn2 {
	 -webkit-appearance: none;
/*        -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;*/
        -webkit-box-sizing: border-box; /* Android â‰¤ 2.3, iOS â‰¤ 4 */
        -moz-box-sizing: border-box; /* Firefox 1+ */
        box-sizing: border-box;
}
.code-btn-cancel {
	position: absolute;
	bottom: 95px;
	left: 10px;
	background-color: #92D933;
	background-image: url("../images/back-icon.png");
	border: medium solid;
	color: #FFFFFF;
	float: left;
	font-family: HelveticaNeue-Light;
	font-size: 45px;
	height: 76px;
	padding: 10px 23px;
	width: 78px;
}

.welcome-text{
    font-family: HelveticaNeue-Light;
    font-size: 37px;
/*    position: absolute;
    left: 78px;*/
    color: rgb(240,35,30);
}

.pic-text{
    font-family: HelveticaNeue-Light;
    font-size: 46px;
    display: inline-block;
    position: absolute;
    padding-bottom: 80px;
    color: rgb(240,35,30);
}

.welcome-text2{
    font-family: HelveticaNeue-Light;
    font-size: 37px;
    position: absolute;
    left: 245px;
    color: rgb(32,114,255);
}

.code-holder{
    padding: 20px 0 20px 23px;
    font-family: HelveticaNeue-Light;
    color: #fff;
    position: absolute;
    background-color: rgb(48,48,48);
    font-size: 35px;
    width: 378px;
    border: solid;
/*    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
}

.btn-holder-main{
    position: absolute;
    top: 100px;
    left: 95px;
}

.btn-holder-launch{
    position: absolute;
}

.code-btn-ok{
    padding: 10px 23px;
    background-color: rgb(146,217,51);
    font-family: HelveticaNeue-Light;
    color: #fff;
    position: absolute;
    font-size: 45px;
    top: 50px;
    width: 220px;
    border : solid;
}

.code-btn-ok-main{
    padding: 10px 23px;
    background-color: rgb(146,217,51);
    font-family: HelveticaNeue-Light;
    color: #fff;
    position: absolute;
    font-size: 45px;
    width: 220px;
    border : solid;
}

#login{
    display:none;
    position: absolute;
    top: 65px;
    left: 35px;
}

#launch {
    position: absolute;
    top: 45px;
    left: 62px;
}

.pic_upload{
/*    height: 100px;*/
    display: none;
    width: 235px;
    height: 225px;
     -webkit-box-shadow:
    inset #fff 0 0 0 5px;
    position: absolute;
    top: 115px;
    left: 125px;
/*     padding: 100px;*/
     overflow: hidden;
}

#my_image{
/*    display: block;*/
    width: auto;
    height: 234px;
    position: absolute;
    top: 5px;
    left: 50px;
}

#home-div{
    text-align: center;
    position: absolute;
    top: 10px;
    font-family: HelveticaNeue-Light;
    width: 100%;
}

.welcome-message{
    font-family: HelveticaNeue-Light;
    font-size: 15px;
    position: absolute;
    color: rgb(240,35,30);
    top: 684px;
    left: 205px;
}

.send-email{
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    position: absolute;
    float:right;
}

.time{
    font-family: HelveticaNeue-Light;
    font-size: 60px;
    position: absolute;
    color: rgb(240,35,30);
    top: 480px;
    left: 152px;
}

.check-text{
    font-family: HelveticaNeue-Light;
    font-size: 45px;
    position: absolute;
    top: 430px;
    left: 100px;
}

.btn-holder2{
    display: none;
    position: absolute;
    top: 295px;
    left: 132px;
}

#snap-text{
    position: absolute;
    top: 270px;
    left: 15px;
    width: 100%;
}

.pic-text{
    font-family: HelveticaNeue-Light;
    font-size: 35px;
    display: inline-block;
    position: absolute;
    color: rgb(240,35,30);
}

#clock {
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 20px auto 0 auto;
    top: 300px;
    left: 65px;
    background: url(../images/clock.png);
    list-style: none;
    }

#sec, #min, #hour {
    position: absolute;
    width: 20px;
    height: 400px;
    top: -25px;
    left: 163px;
    }

#sec {
    background: url(../images/sechand.png);
    z-index: 3;
    }

#min {
    background: url(../images/minhand.png);
    z-index: 2;
    }

#hour {
    background: url(../images/hourhand.png);
    z-index: 1;
    }